# w209 Final Project Load Data

This code loads and processes the fitnessgram and academic test results into a dataset that will ultimately be used in our final project visualization.  

The resulting dataset has observations for each school, district, county, subgroup (e.g. male, female, black, hispanic, economically disadvantaged, etc.). The fitness data reported for each of these observations are the percentage of 5th, 7th, and 9th grade students in the healthy fitness zone, need improvement fitness zone, and high risk fitness zone for aerobic capacity and body composition.

In [1]:
#Import Packages
import os
import pandas as pd


#*******************************************************************************
#*******************************************************************************
#Set these file paths for your own local machine before running
#*******************************************************************************
#*******************************************************************************

#Set file path containing fitnessgram data
fitnessgram_datapath = "/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results"

#Set file path containing academic test data
academic_datapath = "/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Test_Results"

#Set file path where you want to write the combined data
combined_datapath = '/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Combined_Data/Combined_Physical_Fitness_Data.pkl'

# FitnessGram Data

In [2]:
#initialize lists to hold filepaths
Phys_files_list = []
Entities_files_list = []

#Walk the data directory and get all filepaths
for root, dirs, files in os.walk(fitnessgram_datapath):
    for filename in files:
        #Get full list of filepaths to the physical fitness test files
        if filename.endswith('.txt'):    
            if filename[:4] == "Phys":
                Phys_files_list.append(fitnessgram_datapath + "/PFT_" + filename[7:11] + "/" + filename)
            if filename[8:16] == "Research":
                Phys_files_list.append(fitnessgram_datapath + "/PFT_" + str(int(filename[:4])+1) + "/" + filename)

            #Get full list of filepaths to the entities files        
            if filename[:8] == "Entities":
                Entities_files_list.append(fitnessgram_datapath + "/PFT_" + filename[8:13] + "/" + filename)
            if filename[8:16] == "Entities":
                Entities_files_list.append(fitnessgram_datapath + "/PFT_" + str(int(filename[:4])+1) + "/" + filename)

In [3]:
Entities_files_list

['/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results/PFT_2014/2013_14_Entities.txt',
 '/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results/PFT_2015/2014_15_Entities.txt',
 '/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results/PFT_2016/2015_16_Entities.txt']

In [5]:
#get list of all columns in the file from each year
Phys_col_list = []

#read PhysFit files and append column names to the list
for filepath in Phys_files_list:
    
    if int(filepath[93:97]) < 2014:
        pass
    
    elif (int(filepath[93:97]) >= 2014):
        #read the file
        temp_df = pd.read_csv(filepath)
        #print the shape
        print filepath[93:97]
        print temp_df.shape
        #get the columns
        temp_col_list = temp_df.columns
        #add columns not already encountered to the column list
        for colname in temp_col_list:
            if colname not in Phys_col_list:
                Phys_col_list.append(colname)

/Users/nwchen24/anaconda/envs/Machine_learning_python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,12,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2014
(2233435, 24)
2015
(2255801, 24)
2016
(2279222, 24)

In [6]:
#initialize dataframe to hold the physical fitness files
Physfit_df = pd.DataFrame(columns = Phys_col_list)

#read PhysFit files
for filepath in Phys_files_list:
    if int(filepath[93:97]) < 2014:
        pass
    
    elif (int(filepath[93:97]) >= 2014):
        temp_df = pd.read_csv(filepath)
        #temp_df = temp_df.rename(columns = Physfit_column_mapping)
        temp_df['Year'] = filepath[93:97]
        Physfit_df = Physfit_df.append(temp_df)
        print filepath[93:97] + " Read Successfully"

2014 Read Successfully
2015 Read Successfully
2016 Read Successfully

In [7]:
#read entities files
physfit_entities_df = pd.DataFrame()

entities_2014 = pd.read_table(Entities_files_list[0], delimiter = "\t")
entities_2014['Year'] = 2014
#Note there are some bad lines in the entities file. There are not that many, so we will just skip them
entities_2015 = pd.read_csv(Entities_files_list[1], error_bad_lines = False)
entities_2015['Year'] = 2015
entities_2016 = pd.read_csv(Entities_files_list[2], error_bad_lines = False)
entities_2016['Year'] = 2016

#combine all years
physfit_entities_df = physfit_entities_df.append(entities_2014).append(entities_2015).append(entities_2016)

#Standardize Columns
physfit_entities_coldict = {}
physfit_entities_coldict['scode'] = 'School_Code'
physfit_entities_coldict['ccode'] = 'County_Code'
physfit_entities_coldict['dcode'] = 'District_Code'
physfit_entities_coldict['chrtnum'] = 'Charter_Number'

physfit_entities_df = physfit_entities_df.rename(columns = physfit_entities_coldict)

physfit_entities_df.head()

Skipping line 154: expected 8 fields, saw 9
Skipping line 285: expected 8 fields, saw 9
Skipping line 287: expected 8 fields, saw 9
Skipping line 301: expected 8 fields, saw 9
Skipping line 302: expected 8 fields, saw 10
Skipping line 1961: expected 8 fields, saw 9
Skipping line 1964: expected 8 fields, saw 9
Skipping line 1966: expected 8 fields, saw 9
Skipping line 1967: expected 8 fields, saw 9
Skipping line 1968: expected 8 fields, saw 9
Skipping line 2468: expected 8 fields, saw 9
Skipping line 2469: expected 8 fields, saw 10
Skipping line 2486: expected 8 fields, saw 9
Skipping line 2570: expected 8 fields, saw 9
Skipping line 2649: expected 8 fields, saw 10
Skipping line 2659: expected 8 fields, saw 10
Skipping line 2682: expected 8 fields, saw 9
Skipping line 2683: expected 8 fields, saw 10
Skipping line 2686: expected 8 fields, saw 10
Skipping line 2687: expected 8 fields, saw 9
Skipping line 2694: expected 8 fields, saw 11
Skipping line 2753: expected 8 fields, saw 11
Skipping line 3236: expected 8 fields, saw 9
Skipping line 3285: expected 8 fields, saw 10
Skipping line 3483: expected 8 fields, saw 10
Skipping line 3484: expected 8 fields, saw 12
Skipping line 3673: expected 8 fields, saw 10
Skipping line 3674: expected 8 fields, saw 12
Skipping line 4179: expected 8 fields, saw 9
Skipping line 4209: expected 8 fields, saw 9
Skipping line 4732: expected 8 fields, saw 9
Skipping line 4751: expected 8 fields, saw 9
Skipping line 6070: expected 8 fields, saw 10
Skipping line 6217: expected 8 fields, saw 9
Skipping line 6404: expected 8 fields, saw 9
Skipping line 6620: expected 8 fields, saw 9
Skipping line 6961: expected 8 fields, saw 10
Skipping line 7110: expected 8 fields, saw 9
Skipping line 7542: expected 8 fields, saw 9
Skipping line 7588: expected 8 fields, saw 10
Skipping line 7857: expected 8 fields, saw 11
Skipping line 7858: expected 8 fields, saw 14
Skipping line 7870: expected 8 fields, saw 10
Skipping line 8009: expected 8 fields, saw 9
Skipping line 8101: expected 8 fields, saw 9
Skipping line 8223: expected 8 fields, saw 10
Skipping line 8233: expected 8 fields, saw 9
Skipping line 8234: expected 8 fields, saw 10
Skipping line 8917: expected 8 fields, saw 9
Skipping line 8918: expected 8 fields, saw 10
Skipping line 8961: expected 8 fields, saw 9
Skipping line 9351: expected 8 fields, saw 10
Skipping line 9352: expected 8 fields, saw 10
Skipping line 9353: expected 8 fields, saw 10
Skipping line 9770: expected 8 fields, saw 9

,County_Code,District_Code,Charter_Number,School_Code,cdscode,County,District,School,Year
0,1,0,0000,0,1000000000000,Alameda,Alameda County,NaN,2014
1,1,10017,0000,0,1100170000000,Alameda,Alameda County Office of Education,NaN,2014
2,1,10017,0000,130401,1100170130401,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,2014
3,1,10017,0000,130419,1100170130419,Alameda,Alameda County Office of Education,Alameda County Community,2014
4,1,10017,0728,0,1100170000000,Alameda,FAME Public Charter,NaN,2014

### Subset Data to Keep only Observations we Want

In [8]:
Physfit_df.shape

#Keep only summaries of certain fitness tests
Physfit_df_2 = Physfit_df.loc[Physfit_df.Table_Number == 1]

#Keep only Aerobic capacity and body composition reports
#remove trailing spaces from line descriptor
Physfit_df_2['Line_Text'] = Physfit_df_2['Line_Text'].map(lambda x: x.strip())
Physfit_df_2 = Physfit_df_2.loc[(Physfit_df_2.Line_Text == "Aerobic Capacity") | (Physfit_df_2.Line_Text == "Body Composition")]

#Remove state level summaries
Physfit_df_2 = Physfit_df_2.loc[Physfit_df_2.Level_Number != 4]

#Remove summary report numbers - these were already removed in the first subset step that kept only summaries of individual fitness tests
Physfit_df_2 = Physfit_df_2.loc[Physfit_df_2.Report_Number < 14]

#********************************
#Convert to wide format
#Take aerobic capacity and body comp subsets
Physfit_df_2a = Physfit_df_2.loc[Physfit_df_2.Line_Text == "Aerobic Capacity"]
Physfit_df_2b = Physfit_df_2.loc[Physfit_df_2.Line_Text == "Body Composition"]

#rename columns
body_comp_col_dict = {}
body_comp_col_dict['NoHFZ5'] = 'NoHFZ5_bodycomp'
body_comp_col_dict['NoHFZ7'] = 'NoHFZ7_bodycomp'
body_comp_col_dict['NoHFZ9'] = 'NoHFZ9_bodycomp'

body_comp_col_dict['NoStud5'] = 'NoStud5_bodycomp'
body_comp_col_dict['NoStud7'] = 'NoStud7_bodycomp'
body_comp_col_dict['NoStud9'] = 'NoStud9_bodycomp'

body_comp_col_dict['Perc5a'] = 'Perc5HFZ_bodycomp'
body_comp_col_dict['Perc5b'] = 'Perc5NI_bodycomp'
body_comp_col_dict['Perc5c'] = 'Perc5NI_HR_bodycomp'

body_comp_col_dict['Perc7a'] = 'Perc7HFZ_bodycomp'
body_comp_col_dict['Perc7b'] = 'Perc7NI_bodycomp'
body_comp_col_dict['Perc7c'] = 'Perc7NI_HR_bodycomp'

body_comp_col_dict['Perc9a'] = 'Perc9HFZ_bodycomp'
body_comp_col_dict['Perc9b'] = 'Perc9NI_bodycomp'
body_comp_col_dict['Perc9c'] = 'Perc9NI_HR_bodycomp'


aero_col_dict = {}
aero_col_dict['NoHFZ5'] = 'NoHFZ5_aerobic'
aero_col_dict['NoHFZ7'] = 'NoHFZ7_aerobic'
aero_col_dict['NoHFZ9'] = 'NoHFZ9_aerobic'

aero_col_dict['NoStud5'] = 'NoStud5_aerobic'
aero_col_dict['NoStud7'] = 'NoStud7_aerobic'
aero_col_dict['NoStud9'] = 'NoStud9_aerobic'

aero_col_dict['Perc5a'] = 'Perc5HFZ_aerobic'
aero_col_dict['Perc5b'] = 'Perc5NI_aerobic'
aero_col_dict['Perc5c'] = 'Perc5NI_HR_aerobic'

aero_col_dict['Perc7a'] = 'Perc7HFZ_aerobic'
aero_col_dict['Perc7b'] = 'Perc7NI_aerobic'
aero_col_dict['Perc7c'] = 'Perc7NI_HR_aerobic'

aero_col_dict['Perc9a'] = 'Perc9HFZ_aerobic'
aero_col_dict['Perc9b'] = 'Perc9NI_aerobic'
aero_col_dict['Perc9c'] = 'Perc9NI_HR_aerobic'


Physfit_df_2a = Physfit_df_2a.rename(columns = aero_col_dict)
Physfit_df_2b = Physfit_df_2b.rename(columns = body_comp_col_dict)

#delete line number and test descriptor columns which also identifies the fitness metric
Physfit_df_2a = Physfit_df_2a.drop(['Line_Number', 'Line_Text'], axis = 1)
Physfit_df_2b = Physfit_df_2b.drop(['Line_Number', 'Line_Text'], axis = 1)

#merge
Physfit_df_2_comb = pd.merge(left = Physfit_df_2a, right = Physfit_df_2b, how = 'inner')

#Add labels to the subgroup identifiers
subgroup_label_dict = {}
#These mappings are based on the data descriptions
subgroup_label_dict[0] = 'All'
subgroup_label_dict[1] = 'Female'
subgroup_label_dict[2] = 'Male'
subgroup_label_dict[3] = 'Black'
subgroup_label_dict[4] = 'American_Indian'
subgroup_label_dict[5] = 'Asian'
subgroup_label_dict[6] = 'Filipino'
subgroup_label_dict[7] = 'Hispanic'
subgroup_label_dict[8] = 'Hawaiian'
subgroup_label_dict[9] = 'White'
subgroup_label_dict[10] = 'Multiracial'
subgroup_label_dict[11] = 'Economic_disadv'
subgroup_label_dict[12] = 'NOT_economic_disadv'
subgroup_label_dict[13] = 'No_economic_info'

Physfit_df_2_comb = Physfit_df_2_comb.replace({"Report_Number": subgroup_label_dict})

#Drop the columns counting the number of students in each group
Physfit_df_2_comb = Physfit_df_2_comb.drop(['NoHFZ5_aerobic', 'NoHFZ7_aerobic', 'NoHFZ9_aerobic', 'NoStud5_aerobic', 'NoStud7_aerobic', 'NoStud9_aerobic',\
                                           'NoHFZ5_bodycomp', 'NoHFZ7_bodycomp', 'NoHFZ9_bodycomp', 'NoStud5_bodycomp', 'NoStud7_bodycomp', 'NoStud9_bodycomp'], \
                                          axis = 1)

Physfit_df_2_comb.head()

#Physfit_df_2.head()
#print Physfit_df_2_comb.columns
#print Physfit_df_2_comb.shape
#Physfit_df_2b.head()

/Users/nwchen24/anaconda/envs/Machine_learning_python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CO,ChrtNum,DIST,Level_Number,Perc5HFZ_aerobic,Perc5NI_aerobic,Perc5NI_HR_aerobic,Perc7HFZ_aerobic,Perc7NI_aerobic,Perc7NI_HR_aerobic,...,Year,Perc5HFZ_bodycomp,Perc5NI_bodycomp,Perc5NI_HR_bodycomp,Perc7HFZ_bodycomp,Perc7NI_bodycomp,Perc7NI_HR_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp
0,10.0,0000,73965.0,1.0,66.1,25.8,8.1,0.0,0.0,0.0,...,2014,58.9,21.0,20.1,0.0,0.0,0.0,0.0,0.0,0.0
1,10.0,0000,73965.0,1.0,0.0,0.0,0.0,78.0,11.9,10.1,...,2014,0.0,0.0,0.0,65.6,16.3,18.1,0.0,0.0,0.0
2,10.0,0000,73999.0,1.0,0.0,0.0,0.0,**,**,**,...,2014,0.0,0.0,0.0,**,**,**,0.0,0.0,0.0
3,10.0,0000,73999.0,1.0,41.5,42.4,16.1,0.0,0.0,0.0,...,2014,39.8,22.9,37.3,0.0,0.0,0.0,0.0,0.0,0.0
4,10.0,0000,73999.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**

# Academic Test Data


Download the academic data here by copying these into your browser:  
2016: http://www3.cde.ca.gov/caasppresearchfiles/2016/pp/ca2016_all_csv_v3.zip  
2015: http://www3.cde.ca.gov/caasppresearchfiles/2015/pp-p3/ca2015_all_csv_v3.zip  
2014: http://www3.cde.ca.gov/caasppresearchfiles/2014/p2/ca2014_all_csv_v2.zip  


Unzip the zip files to separate folders for each year in some directory.  

The website containing these results is here:  
http://caaspp.cde.ca.gov/

In [9]:
#initialize lists to hold filepaths
academic_files_list = []
academic_entities_files_list = []

#Walk the data directory and get all filepaths
for root, dirs, files in os.walk(academic_datapath):
    for filename in files:
        #Get full list of filepaths to the physical fitness test files
        if filename[7:10] == "all":    
            academic_files_list.append(academic_datapath + "/" + filename[2:6] + "/" + filename)
        elif filename[6:14] == "entities":
            academic_entities_files_list.append(academic_datapath + "/" + filename[2:6] + "/" + filename)

In [10]:
#read academic entities
academic_entities = pd.DataFrame()

for filepath in academic_entities_files_list:
    temp_df = pd.read_csv(filepath)
    academic_entities = academic_entities.append(temp_df)
    
#replace spaces in column names with underscores
academic_entities.columns = [c.replace(' ', '_') for c in academic_entities.columns]

academic_entities.head()

,Charter_Number,County_Code,County_Name,District_Code,District_Name,School_Code,School_Name,Test_Year,Type_Id,Zip_Code,filler
0,0.0,0,State of California,0,NaN,0,NaN,2014,4,,NaN
1,0.0,1,Alameda,0,NaN,0,NaN,2014,5,,NaN
2,0.0,1,Alameda,10017,Alameda County Office of Education,0,NaN,2014,6,,NaN
3,728.0,1,Alameda,10017,FAME Public Charter,109835,FAME Public Charter,2014,9,94560,NaN
4,811.0,1,Alameda,10017,Envision Academy for Arts & T,112607,Envision Academy for Arts & T,2014,9,94612,NaN

In [11]:
#get list of all columns in the file from each year
academic_col_list = []

#read PhysFit files and append column names to the list
for filepath in academic_files_list:
    #read the file
    temp_df = pd.read_csv(filepath)
    #print the shape
    print filepath[89:93]
    print temp_df.shape
    #get the columns
    temp_col_list = temp_df.columns
    print temp_col_list
    #add columns not already encountered to the column list
    for colname in temp_col_list:
        if colname not in academic_col_list:
            academic_col_list.append(colname)
            
print len(academic_col_list)

2014
(1177424, 21)
Index([u'County Code', u'District Code', u'School Code', u'Charter Number',
       u'Test Year', u'Subgroup ID', u'Test Type', u'CAPA Assessment Level',
       u'Total Tested At Entity Level', u'Total Tested At Subgroup Level',
       u'Grade', u'Test Id', u'Students Tested', u'Mean Scale Score',
       u'Percentage Advanced', u'Percentage Proficient',
       u'Percentage At Or Above Proficient', u'Percentage Basic',
       u'Percentage Below Basic', u'Percentage Far Below Basic',
       u'Students with Scores'],
      dtype='object')
2015
(727771, 21)
Index([u'County Code', u'District Code', u'School Code', u'filler',
       u'Test Year', u'Subgroup ID', u'Test Type', u'CAPA Assessment Level',
       u'Total Tested At Entity Level', u'Total Tested At Subgroup Level',
       u'Grade', u'Test Id', u'Students Tested', u'Mean Scale Score',
       u'Percentage Advanced', u'Percentage Proficient',
       u'Percentage At Or Above Proficient', u'Percentage Basic',
       u'Percentage Below Basic', u'Percentage Far Below Basic',
       u'Students with Scores'],
      dtype='object')
2016
(262313, 22)
Index([u'County Code', u'District Code', u'School Code', u'filler',
       u'Test Year', u'Subgroup ID', u'Test Type',
       u'CAPA Science Assessment Level', u'Total CAASPP Enrollment',
       u'Total Tested At Entity Level', u'Total Students with Scores',
       u'Grade', u'Test Id', u'Students Tested', u'Mean Scale Score',
       u'Percentage Advanced', u'Percentage Proficient',
       u'Percentage At Or Above Proficient', u'Percentage Basic',
       u'Percentage Below Basic', u'Percentage Far Below Basic',
       u'Students with Scores'],
      dtype='object')
25

In [12]:
#academic_col_list.remove('filler')
academic_col_list.remove('CAPA Assessment Level')
academic_col_list.remove('CAPA Science Assessment Level')
academic_col_list.remove('Total CAASPP Enrollment')
academic_col_list.remove('Total Students with Scores')
academic_col_list.remove('Students Tested')
academic_col_list.remove('Total Tested At Subgroup Level')
academic_col_list.remove('Total Tested At Entity Level')
academic_col_list.remove('Percentage Advanced')
academic_col_list.remove('Percentage Proficient')
academic_col_list.remove('Percentage At Or Above Proficient')
academic_col_list.remove('Percentage Basic')
academic_col_list.remove('Percentage Below Basic')
academic_col_list.remove('Percentage Far Below Basic')
academic_col_list.remove('Students with Scores')
academic_col_list

['County Code',
 'District Code',
 'School Code',
 'Charter Number',
 'Test Year',
 'Subgroup ID',
 'Test Type',
 'Grade',
 'Test Id',
 'Mean Scale Score',
 'filler']

In [13]:
academic_df = pd.DataFrame(columns = academic_col_list)

#read PhysFit files
 

for filepath in academic_files_list:
    temp_df = pd.read_csv(filepath)
    #temp_df = temp_df.rename(columns = Physfit_column_mapping)
    academic_df = academic_df.append(temp_df)
    print filepath[89:93] + " Read Successfully"

#Keep only the columns that we want
academic_df = academic_df.drop(['CAPA Assessment Level', 'CAPA Science Assessment Level', 'Total CAASPP Enrollment',\
                               'Total Students with Scores', 'Students Tested', 'Total Tested At Subgroup Level',\
                               'Total Tested At Entity Level', 'Percentage Advanced', 'Percentage Proficient',\
                               'Percentage At Or Above Proficient', 'Percentage Basic', 'Percentage Below Basic',\
                               'Percentage Far Below Basic', 'Students with Scores', 'filler'], axis = 1)

#replace spaces in column names with underscores
academic_df.columns = [c.replace(' ', '_') for c in academic_df.columns]

2014 Read Successfully
2015 Read Successfully
2016 Read Successfully

# NC LEFT OFF HERE:  

Calculate average score for each subgroup at the school level, not the school x grade level.

In [31]:
#Subset the academic data to only the observations we're interested in.
#See subgroup ID mappings here: http://caaspp.cde.ca.gov/caaspp2015/research_fixfileformat.aspx
#We want all students, and the following subgroups individually:
#male, female, black, american indian, asian, filipino, hispanic, hawaiian, white, multiracial, economically disadvantaged, not ecnonomically disadvantaged, and non economic info

#instantiate dict to map subgroup IDs to the groups we're interested in
subgroup_label_dict = {}

subgroup_label_dict[1] = 'All'
subgroup_label_dict[4] = 'Female'
subgroup_label_dict[3] = 'Male'
subgroup_label_dict[74] = 'Black'
subgroup_label_dict[75] = 'American_Indian'
subgroup_label_dict[76] = 'Asian'
subgroup_label_dict[77] = 'Filipino'
subgroup_label_dict[78] = 'Hispanic'
subgroup_label_dict[79] = 'Hawaiian'
subgroup_label_dict[80] = 'White'
subgroup_label_dict[144] = 'Multiracial'
subgroup_label_dict[31] = 'Economic_disadv'
subgroup_label_dict[111] = 'NOT_economic_disadv'

#Keep only observations for the subgroups we're interested in
academic_df_2 = academic_df.loc[academic_df.Subgroup_ID.isin([1.0, 4.0, 3.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 144.0, 31.0, 111.0])]

#Keep only grades 5, 7, and 9
#remove grade zero observations
academic_df_2 = academic_df_2.loc[academic_df_2.Grade != 0]

#convert mean scale score to numeric
academic_df_2['Mean_Scale_Score'] = academic_df_2['Mean_Scale_Score'].apply(pd.to_numeric, errors = "NA")

#Get average score at the school x subgroup level
del academic_df_2['Grade']
academic_df_2 = academic_df_2.drop(['Test_Id', 'Test_Type'], axis = 1)
academic_df_2 = academic_df_2.groupby(['Charter_Number', 'County_Code', 'District_Code', 'School_Code', 'Subgroup_ID', 'Test_Year'], as_index=False).mean()

#relabel subgroup IDs
academic_df_2 = academic_df_2.replace({"Subgroup_ID": subgroup_label_dict})

#rename some columns
academic_col_mapping = {}
academic_col_mapping['Test_Year'] = 'Year'
academic_col_mapping['Subgroup_ID'] = 'Subgroup'
academic_col_mapping['Mean_Scale_Score'] = 'Mean_Academic_Test_Score'

academic_df_2 = academic_df_2.rename(columns = academic_col_mapping)

#convert to wide format so we have mean test score for each grade in each row
#academic_df_2 = academic_df_2.pivot_table(index = ['School_Code', 'Subgroup', 'Charter_Number', 'County_Code', 'District_Code', 'Year'], columns = 'Grade', values = 'Mean_Academic_Test_Score')

#reset index
#academic_df_2 = academic_df_2.reset_index(level = [0,1,2,3,4,5])

#academic_df_2 = academic_df_2.rename(index={'Grade': 'Index'})
#academic_df_2 = academic_df_2.rename(columns = {5.0:'Avg_Score_Grade5', 7.0:'Avg_Score_Grade7', 9.0:'Avg_Score_Grade9'})
academic_df_2.head()
#Mean academic test scores now ready to merge with fitnessgram data

,Charter_Number,County_Code,District_Code,School_Code,Subgroup,Year,Mean_Academic_Test_Score
0,0.0,0.0,0.0,0.0,All,2014.0,113.493548
1,0.0,1.0,0.0,0.0,All,2014.0,359.116667
2,0.0,1.0,0.0,0.0,Male,2014.0,360.816667
3,0.0,1.0,0.0,0.0,Female,2014.0,357.533333
4,0.0,1.0,0.0,0.0,Economic_disadv,2014.0,334.883333

# Merge Academic Results with Fitnessgram

In [36]:
#rename Fitnessgram data columns to facilitate merge
Physfit_col_mapping = {}
Physfit_col_mapping['CO'] = 'County_Code'
Physfit_col_mapping['ChrtNum'] = 'Charter_Number'
Physfit_col_mapping['DIST'] = 'District_Code'
Physfit_col_mapping['SCHL'] = 'School_Code'
Physfit_col_mapping['Report_Number'] = 'Subgroup'

Physfit_df_2_comb = Physfit_df_2_comb.rename(columns = Physfit_col_mapping)

#convert year to numeric in fitnessgram dataset
Physfit_df_2_comb['Year'] = Physfit_df_2_comb['Year'].apply(pd.to_numeric, errors = "NA")

#delete table number from fitnessgram dataset (only one value)
#del Physfit_df_2_comb['Table_Number']

#Keep only school level observations
#Physfit_df_2_comb = Physfit_df_2_comb.loc[Physfit_df_2_comb.Level_Number == 1]
#del Physfit_df_2_comb['Level_Number']
#del Physfit_df_2_comb['Charter_Number']

In [37]:
#Merge
print Physfit_df_2_comb.columns
print academic_df_2.columns

combined_DF = pd.merge(left = Physfit_df_2_comb, right = academic_df_2, how = 'inner', on = ['County_Code', 'District_Code', 'School_Code', 'Subgroup', 'Year'])
print combined_DF.shape
combined_DF.head()
#combined_DF.tail(100)

Index([u'County_Code', u'District_Code', u'Perc5HFZ_aerobic',
       u'Perc5NI_aerobic', u'Perc5NI_HR_aerobic', u'Perc7HFZ_aerobic',
       u'Perc7NI_aerobic', u'Perc7NI_HR_aerobic', u'Perc9HFZ_aerobic',
       u'Perc9NI_aerobic', u'Perc9NI_HR_aerobic', u'Subgroup', u'School_Code',
       u'Year', u'Perc5HFZ_bodycomp', u'Perc5NI_bodycomp',
       u'Perc5NI_HR_bodycomp', u'Perc7HFZ_bodycomp', u'Perc7NI_bodycomp',
       u'Perc7NI_HR_bodycomp', u'Perc9HFZ_bodycomp', u'Perc9NI_bodycomp',
       u'Perc9NI_HR_bodycomp'],
      dtype='object')
Index([u'Charter_Number', u'County_Code', u'District_Code', u'School_Code',
       u'Subgroup', u'Year', u'Mean_Academic_Test_Score'],
      dtype='object')
(90830, 25)

,County_Code,District_Code,Perc5HFZ_aerobic,Perc5NI_aerobic,Perc5NI_HR_aerobic,Perc7HFZ_aerobic,Perc7NI_aerobic,Perc7NI_HR_aerobic,Perc9HFZ_aerobic,Perc9NI_aerobic,Perc9NI_HR_aerobic,Subgroup,School_Code,Year,Perc5HFZ_bodycomp,Perc5NI_bodycomp,Perc5NI_HR_bodycomp,Perc7HFZ_bodycomp,Perc7NI_bodycomp,Perc7NI_HR_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp,Charter_Number,Mean_Academic_Test_Score
0,10.0,73965.0,66.1,25.8,8.1,0.0,0.0,0.0,0.0,0.0,0.0,All,6120521.0,2014,58.9,21.0,20.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,384.50
1,10.0,73965.0,0.0,0.0,0.0,78.0,11.9,10.1,0.0,0.0,0.0,All,6120539.0,2014,0.0,0.0,0.0,65.6,16.3,18.1,0.0,0.0,0.0,0.0,388.65
2,10.0,73999.0,41.5,42.4,16.1,0.0,0.0,0.0,0.0,0.0,0.0,All,123596.0,2014,39.8,22.9,37.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,367.00
3,10.0,73999.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,All,1033422.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,0.0,311.80
4,10.0,73999.0,0.0,0.0,0.0,0.0,0.0,0.0,72.5,20.3,7.2,All,1033430.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,61.2,24.3,14.5,0.0,316.00

# MERGE TO DO  

There are a lot of observations in the fitnessgram dataset that do not show up in the academic test results data. We need to figure out why there are so many missing observations. The cells below are intended to investigate the observations in the fitnessgram dataset that do not appear in the test results data.

## Schools that Appear in 2014 - 2015, but not 2016 Academic Scores  

Based on anecdotal spot checks, these appear to be 'out of the ordinary' schools such as codes for homeschooled children in certain districts, special education centers, extension programs, etc.

In [27]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

#Are there schools that don't show up in the 2016 academic scores that do show up in 2014 and 2015?
academic_2014_2015 = academic_df.loc[(academic_df.Test_Year == 2014) | (academic_df.Test_Year == 2015)]
academic_2016 = academic_df.loc[(academic_df.Test_Year == 2016)]

#Get unique schools
schools_2014_2015 = set(academic_2014_2015.School_Code.unique())
schools_2016 = set(academic_2016.School_Code.unique())

schools_missingfrom_2016 = schools_2014_2015 - schools_2016

print list(schools_missingfrom_2016)[100:120]

#Look at a the schools that show up in 2014 and 2015, but not 2016
schools_missing_2016_df = academic_entities.loc[academic_entities.School_Code.isin(list(schools_missingfrom_2016))]
schools_missing_2016_df = schools_missing_2016_df.sort_values(by = "School_Code")
schools_missing_2016_df.iloc[500:520]

[6941041.0, 126698.0, 7090558.0, 6203780.0, 6050181.0, 117135.0, 4970896.0, 6941074.0, 129429.0, 131482.0, 3430816.0, 129445.0, 7102890.0, 123307.0, 7045552.0, 5530035.0, 4870581.0, 127415.0, 7104953.0, 121277.0]

,Charter_Number,County_Code,County_Name,District_Code,District_Name,School_Code,School_Name,Test_Year,Type_Id,Zip_Code,filler
8319,NaN,37,San Diego,68296,Poway Unified,118844,Banyan Tree Foundations Academy - Point,2015,7,92110,NaN
8421,NaN,37,San Diego,68338,San Diego Unified,118844,Banyan Tree Foundations Academy - Point,2015,7,92110,NaN
2516,0.0,45,Shasta,10454,Shasta County Office of Education,118992,Magnolia Inde Learning Center,2014,7,96001,NaN
10341,NaN,45,Shasta,10454,Shasta County Office Of Education,118992,Magnolia Independent Learning Center,2015,7,96001,NaN
2517,0.0,45,Shasta,10454,Shasta County Office of Education,119008,Shasta Independent Learning,2014,7,96001,NaN
10342,NaN,45,Shasta,10454,Shasta County Office Of Education,119008,Shasta Independent Learning Center,2015,7,96001,NaN
9930,1065.0,37,San Diego,68213,CalPac SD,119263,CalPac SD,2014,9,92660,NaN
9117,NaN,39,San Joaquin,68593,Manteca Unified,119388,Stockton Educational Center,2015,7,95207,NaN
979,1069.0,9,El Dorado,76596,PTS-Santa Ana,119537,PTS-Santa Ana,2014,9,92626,NaN
4312,NaN,19,Los Angeles,65029,South Pasadena Unified,119776,Mingus Mountain Academy,2015,7,86314,NaN
5773,NaN,30,Orange,66597,Newport-Mesa Unified,119776,Mingus Mountain Academy,2015,7,86314,NaN
4612,1092.0,19,Los Angeles,64733,PUC Nueva Esperanza Ch Acad,120055,PUC Nueva Esperanza Ch Acad,2014,9,91502,NaN
3098,NaN,19,Los Angeles,64733,Puc Nueva Esperanza Charter Academy,120055,Puc Nueva Esperanza Charter Academy,2015,9,91340,NaN
3660,1111.0,16,Kings,63891,CalPac CC,120154,CalPac CC,2014,9,92660,NaN
8356,1104.0,33,Riverside,67157,Mosaica Online Academy of SoCa,120279,Mosaica Online Academy of SoCa,2014,9,92590,NaN
2499,NaN,19,Los Angeles,64451,Downey Unified,120295,Del Sol,2015,7,90630,NaN
5470,NaN,30,Orange,66431,Anaheim Union High,120295,Del Sol,2015,7,90630,NaN
2834,NaN,19,Los Angeles,64717,Little Lake City Elementary,120295,Del Sol,2015,7,90630,NaN
5805,NaN,30,Orange,66613,Ocean View,120295,Del Sol,2015,7,90630,NaN
5981,NaN,30,Orange,66746,Westminster,120295,Del Sol,2015,7,90630,NaN

## Schools / subgroups in FitnessGram not in Academic Test Scores  

There are a significant number of observations that appear in the fitnessgram dataset that do not have corresponding test score results.

In [42]:
unmerged = pd.merge(left = Physfit_df_2_comb, indicator = True, right = academic_df_2, how = 'left', on = ['County_Code', 'District_Code', 'School_Code', 'Subgroup', 'Year'], )

unmerged_schools = set(unmerged.loc[unmerged._merge == "left_only"].School_Code.unique())
merged_schools = set(unmerged.loc[unmerged._merge == "both"].School_Code.unique())

#Are there schools in common between the rows that merge and those that don't? Yes.
print len(unmerged_schools & merged_schools)

#Look at the observations from the fitnessgram data that don't show up in the academic test scores.
unmerged = unmerged.loc[unmerged._merge == "left_only"]

#Hypothesis 1: The observations that are in the fitnessgram, but not the academic scores are small subgroups
#There seems to be a relatively even distribution across subgroups of rows that did not merge
unmerged_subgroup_counts = unmerged.groupby(['Subgroup'], as_index=False).count()
unmerged_subgroup_counts

#Look at the unmerged schools
unmerged_schools_df = physfit_entities_df.loc[physfit_entities_df.School_Code.isin(list(unmerged_schools))]
#There appear to be plenty of standard schools that aren't mapping. Let's look at one example: Berkeley High, school code 131177
example_unmerged = unmerged.loc[unmerged.School_Code == 131177]
example_unmerged

#does Berkeley high not appear in the academic data?
example_unmerged_in_academic = academic_df.loc[academic_df.School_Code == 131177]
example_unmerged_in_academic.Grade.unique()
unmerged.head(100)

8741

,County_Code,District_Code,Perc5HFZ_aerobic,Perc5NI_aerobic,Perc5NI_HR_aerobic,Perc7HFZ_aerobic,Perc7NI_aerobic,Perc7NI_HR_aerobic,Perc9HFZ_aerobic,Perc9NI_aerobic,Perc9NI_HR_aerobic,Subgroup,School_Code,Year,Perc5HFZ_bodycomp,Perc5NI_bodycomp,Perc5NI_HR_bodycomp,Perc7HFZ_bodycomp,Perc7NI_bodycomp,Perc7NI_HR_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp,Charter_Number,Mean_Academic_Test_Score,_merge
33,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,All,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
10643,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Female,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
10725,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Male,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
35639,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Black,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
35721,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,American_Indian,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
53478,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Asian,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
53561,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Filipino,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
71318,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Hispanic,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
71401,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Hawaiian,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
89158,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,White,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
89241,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Multiracial,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
106998,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Economic_disadv,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
107081,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NOT_economic_disadv,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
124838,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,No_economic_info,1230143.0,2014,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
131784,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,All,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
132383,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Female,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
151482,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Male,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
152079,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Black,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
169415,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,American_Indian,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
170017,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Asian,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
187346,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Filipino,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
187950,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Hispanic,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
205281,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Hawaiian,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
205883,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,White,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
223216,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Multiracial,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
223818,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,Economic_disadv,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,**,**,**,NaN,NaN,left_only
241149,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NOT_economic_disadv,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only
241752,12.0,62687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No_economic_info,1230143.0,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,left_only

In [87]:
#Save serialized version to file
Physfit_df.to_pickle(combined_datapath)

## Physical Fitness Data Description

There appears to have been a change in reporting procedure in 2012. Starting in 2012, for each of the grades 5, 7, and 9, the percentage of students not in the healthy fitness zone is split between 'Needs Improvement' and 'High Risk'. We will want to determine whether the cutoff to determine whether students not in the healthy fitness zone remained the same after this reporting change was implemented.

Report_Number (and possibly report type) reports the group being reported on in that observation (e.g. all students, male students, female students, black students, white students, etc).

Line_Number and Line_Text identify the data being reported (I think this means the particular fitness measuer)